body{
    .ProfileMiddle{
        flex: 5.5;
        margin: 5px 0 5px 0;
        .ProfileMiddlewrapper{
            height: calc(100vh - 60px);
            overflow-y: scroll !important;
        }
    }
}