body{
    display: flex;
    // flex-direction: column;
    align-items: center;
    .Right{
        width: 300px;
        // flex: 2;
        font-size: 13px;
        font-weight: 500;
        height: calc(100vh - 300px);
        border-radius: 10px;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 5px;
        background-color: white;
        box-shadow: 1px 1px 10px rgb(163, 163, 163);
        overflow-y: scroll;
        .wrapper{
            padding: 20px;
            .birthday{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    height: 40px;
                    margin-right: 10px;
                }
            }
        }
        h4{
            margin-left: 20px;
        }
        .Friends{
            padding: 10px;
            margin-left: 10px;
            list-style-type: none;
        }
    }
}